<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
    <!--   <div class="form-group">
        <div class="col-xs-10">
          <input type="text" class="form-control" ng-model="player">
        </div>
        <div class="col-xs-2">
          <button class="btn btn-primary" ng-click="lookupPlayer()">Lookup</button>
        </div>
      </div> -->

      <div class="form-group">
        <label class="col-sm-2 control-label" >Current Mage XP</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" placeholder="0" ng-model="xp.current">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" >Target Level</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" placeholder="60" max="99" ng-model="xp.target">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">XP Left</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{xp.left | number}} XP</p>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4><img src="../images/mind.png" />  Fire Strike ({{mind.gp}} GP)</h4>
<!--     <pre>{{mind | json}}</pre>
 -->
    <table class="table">
      <tr>
        <td><b>Casts Left</b></td>
        <td><b>{{mind.castsLeft | number}}</b></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td>{{mind.totalCost | number }} GP</td>
      </tr>
      <tr>
        <td>Xp/Hr</td>
        <td>{{mind.xpHr | number }}</td>
      </tr>
      <tr>
        <td>Gp/Hr</td>
        <td>{{mind.gpHr | number }}</td>
      </tr>
      <tr>
        <td>Time Left</td>
        <td>{{mind.timeLeft | number }} Hours</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4><img src="../images/chaos.png" />  Fire Bolt ({{chaos.gp}} GP)</h4>
     <table class="table">
      <tr>
        <td><b>Casts Left</b></td>
        <td><b>{{chaos.castsLeft | number}}</b></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td>{{chaos.totalCost | number }} GP</td>
      </tr>
      <tr>
        <td>Xp/Hr</td>
        <td>{{chaos.xpHr | number }}</td>
      </tr>
      <tr>
        <td>Gp/Hr</td>
        <td>{{chaos.gpHr | number }}</td>
      </tr>
      <tr>
        <td>Time Left</td>
        <td>{{chaos.timeLeft | number }} Hours</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4><img src="../images/death.png" />  Fire Blast ({{death.gp}} GP)</h4>
    <table class="table">
      <tr>
        <td><b>Casts Left</b></td>
        <td><b>{{death.castsLeft | number}}</b></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td>{{death.totalCost | number }} GP</td>
      </tr>
      <tr>
        <td>Xp/Hr</td>
        <td>{{death.xpHr | number }}</td>
      </tr>
      <tr>
        <td>Gp/Hr</td>
        <td>{{death.gpHr | number }}</td>
      </tr>
      <tr>
        <td>Time Left</td>
        <td>{{death.timeLeft | number }} Hours</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4><img src="../images/blood.png" />  Fire Wave ({{blood.gp}} GP)</h4>
    <table class="table">
      <tr>
        <td><b>Casts Left</b></td>
        <td><b>{{blood.castsLeft | number}}</b></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td>{{blood.totalCost | number }} GP</td>
      </tr>
      <tr>
        <td>Xp/Hr</td>
        <td>{{blood.xpHr | number }}</td>
      </tr>
      <tr>
        <td>Gp/Hr</td>
        <td>{{blood.gpHr | number }}</td>
      </tr>
      <tr>
        <td>Time Left</td>
        <td>{{blood.timeLeft | number }} Hours</td>
      </tr>
    </table>
  </div>
</div>
